  
    <!-- To include inc/footer class -->
    <%- include('footer') -%>
	</div>
  
    <!-- To include inc/footer-gototop class -->
    <%- include('footer-gototop') -%>
    <!-- To include inc/footer-scripts class -->
    <%- include('footer-scripts') -%>

</body>

</html>